html,
body {
  height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
}
.form-signin .checkbox {
  font-weight: 400px;
}
.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#tit {
    font-size: 400%;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 15%;
}

#titleHome{
    text-align: center;
    font-weight: bold;
  }