html,
body {
  overflow: hidden;
  height: 100%;
  color: white;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
}
.form-signin .checkbox {
  font-weight: 400px;
}
.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-muted
{
  margin-bottom: -1rem;
}

@font-face {
  font-family: 'gameplayregular';
  src: url('../fonts/gameplay-webfont.woff2') format('woff2'),
       url('../fonts/gameplay-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body, .appBg
{
  background-color: #27241f;
}

.bg-yellow
{
  background-color: #eaaf25;
}

div.nowLoading {
  margin: 10;
  text-align: center;
  color: #eaaf25;
  text-align: center;
  font-family: 'gameplayregular';
  font-weight: normal;
  font-style: normal;
  -webkit-text-stroke: 8px #444;
  paint-order: markers stroke fill;
}

.table
{
  color: white;
}